<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/listing/edit/<%=stay.id%>?_method=PATCH" method="post">
        <h2>Your bnb</h2>
        <input name="title" type="text" value="<%=stay.title%>" required><br><br>
            <textarea name="description" value="<%=stay.description%>"></textarea><br><br>
            <input type="number" name="price" value=<%=stay.price%> required><br><br>
            <input type="url" name="image url" value="<%=stay.image.url%>"><br><br>
            <input type="text" name ="location" value="<%=stay.location%>"><br><br>
            <input type="country" name="country" value="<%=stay.country%>"><br><br>
            <button type="submit">Submit</button>
    </form>
</body>
</html>