
<% layout("layout/boilerplate")%>
    <img src="<%=stay.image.url%>" alt="/">
    <div class="card-body">
    <h5 class="card-title"><%=stay.title%></h5>
    <p class="card-text"><%=stay.description%></p>
    <h6>PRICE:<%=stay.price%></h6>
    <a role="button " class="btn btn-primary" href="/listing/edit/<%=stay.id%>">EDIT</a>
    <BR><BR>
    <FORM method="post" action="/listing/delete/<%=stay.id%>?_method=DELETE">
        <button>DELETE</button>
    </FORM>